<div class="deposit">
    <div class="uk-margin-medium-top uk-visible@m">
        <vk-tabs align="center">
            <vk-tabs-item title="XCoinBae">
                <bitfinex-deposit-address></bitfinex-deposit-address>
            </vk-tabs-item>
        </vk-tabs>
    </div>
    <div class="uk-hidden@m" id="mobileDropdown">
        <vk-button id="tabBarDropdown" mode='click'>{{ activeTab }}</vk-button>
        <vk-dropdown :delayHide=1>
            <vk-nav-dropdown>
                <vk-nav-item v-for="tab of tabs" :key="tab" :title="tab" @click="onDropDownTabChange(tab)"></vk-nav-item>
            </vk-nav-dropdown>
        </vk-dropdown>
        <bitfinex-deposit-address v-if="activeTab === 'XCoinBae'"></bitfinex-deposit-address>
    </div>
</div>
