<div class="recent-trades">
    <div v-on:click='toggleOpen' :class="{'opened': open, 'close': !open}" class="accordionToggleButton">
        Open Positions
        <label class="switch">
                <input type="checkbox" v-model="showTotal">
                <span class="slider"></span>
            </label>
    </div>
    <div>
        <div id="activeTrades" :class="{'closed': !open}">
            <div id="recentSimplebar" data-simplebar data-simplebar-auto-hide="false">
                <table>
                    <thead>
                        <tr>
                            <th width="50">Order ID</th>
                            <th>Time</th>
                            <th>Order Type</th>
                            <th>Pair</th>
                            <th>Amount</th>
                            <!-- <th>Fee</th> -->
                            <th v-if="!showTotal">Open Money</th>
                            <th v-else>Open Price</th>                            
                            <th v-if="!showTotal">Current</th>
                            <th v-else>Liquidation Price</th>
                            <th>Current Earning</th>
                            <th>Buy/Sell</th>

                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="trade in recentTrades">
                            <td width="50">{{ trade.orderId }}</td>
                            <td>{{ formatDateTime(trade.placedTime) }}</td>
                            <td>{{ trade.orderType }}</td>
                            <td>{{ trade.pair }}</td>
                            <td>{{ trade.amount }}</td>

                            <td v-if="!showTotal">{{ trade.startMoney }}</td>
                            <td v-else>{{ trade.startMoney / trade.amount }}</td>

                            <td v-if="!showTotal">{{ trade.stopPrice * trade.amount }}</td>
                            <td v-else>{{ trade.stopPrice }}</td>
                            
                            <td>{{ (trade.startMoney - Math.abs(liveTradePrice * trade.amount)) }}</td>                          
                            <td :class="trade.buyOrSell">{{ trade.buyOrSell }}</td>

                            <td>{{ trade.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
