<div class="recent-trades">
    <div v-on:click='toggleOpen' :class="{'opened': open, 'close': !open}" class="accordionToggleButton">
        Open Positions
        <label class="switch">
                <input type="checkbox" v-model="showTotal">
                <span class="slider"></span>
            </label>
    </div>
    <div>
        <div id="activeTrades" :class="{'closed': !open}">
            <div id="recentSimplebar" data-simplebar data-simplebar-auto-hide="false">
                <table>
                    <thead>
                        <tr>
                            <th width="100">Order ID</th>
                            <th>Time</th>
                            <th>Order Type</th>
                            <th>Pair</th>
                            <th>Amount</th>
                            <!-- <th>Fee</th> -->
                            <th v-if="!showTotal">Open Money</th>
                            <th v-else>Open Price</th>                            
                            <th v-if="!showTotal">Liquidation</th>
                            <th v-else>Liquidation Price</th>
                            <th>Current Earning</th>
                            
                            <th>Status</th>
                            <th>Close</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="trade in recentTrades">
                            <td width="100">{{ trade.orderId }}</td>
                            <td>{{ formatDateTime(trade.placedTime) }}</td>
                            <td :class="trade.buyOrSell">{{ trade.buyOrSell }}</td>
                            <td>{{ trade.pair }}</td>
                            <td>{{ trade.amount }}{{ trade.basePair }}</td>

                            <td v-if="!showTotal">{{ trade.startMoney }}{{ trade.quotePair }}</td>
                            <td v-else>{{ trade.openPrice }}</td>

                            <td v-if="!showTotal">{{ trade.stopPrice * trade.amount }}{{ trade.quotePair }}</td>
                            <td v-else>{{ trade.stopPrice }}</td>
                            
                            <td>{{ (trade.startMoney - Math.abs($store.state.liveTradePrice * trade.amount)) }}{{ trade.quotePair }}</td>                          
                            

                            <td>{{ trade.status }}</td>
                            <td>
                                <a @click=cancelOrder(trade.id) href="javascript:undefined" class="os-semibold c-green">
                                    <span class="mr5 text-underline">Close</span>
                                    <i class="icons8-donate"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
