<div class="KYC" style="margin: auto;width: 640px;border: 1px solid #CCCFDD;border-radius: 5px;padding: 14px;">
    <div>
      <span style="text-align:center;"><h4>KYC verification form</h4></span>
    </div>
    <div>
      <p style="font-size: 12px; margin-bottom: 4px; line-height: 150%;">In order to complete the KYC (Know Your Customer) verification process, please fill in the following information and upload photos &amp; documents as requested.</p>
    </div>
    
    <div style="margin-top: 14px;"><b>1. Personal information</b></div>
    <p style="font-size: 12px; margin-bottom: 4px; line-height: 150%;">Please fill in your personal information the way it is stated <br>
in the proof of identity document you submit.</p>

    <div style="margin-top: 14px;"><label for="kyc_firstName"  style="margin: 4px;"><span>First name</span></label><input type="text" name="firstName" id="kyc_firstName" value=""></div>
</div>
