<div class="KYC">
    <div>
      <span>KYC verification form</span>
    </div>
    <div>
      <span>In order to complete the KYC (Know Your Customer) verification process, please fill in the following information and upload photos &amp; documents as requested.</span>
    </div>
    <div><span>1. Personal information</span></div>
    <p style="font-size: 12px; margin-bottom: 4px; line-height: 150%;">Please fill in your personal information the way it is stated <br>
in the proof of identity document you submit.</p>

<div><label for="kyc_firstName" ><span>First name</span></label><input type="text" name="firstName" id="kyc_firstName" value=""></div>
</div>
