<div class="history">
    <h1 class="fs20 os-regular c-white p20 m0 uk-text-uppercase">History</h1>
    <form class="pl20 pr20">
        <div>
            <div id="tab-a4" class="settingstab-content">
            </div>
        </div>
    </form>
    <div v-if="bitfinexFlag">
        <div class="uk-visible@m">
            <vk-tabs class="pl20 pr20">
                <vk-tabs-item title="Orders">
                    <bitfinex-orders-history></bitfinex-orders-history>
                </vk-tabs-item>
                <vk-tabs-item title="Trading">
                    <bitfinex-trading-history></bitfinex-trading-history>
                </vk-tabs-item>
                <vk-tabs-item title="Positions">
                    <bitfinex-positions-history></bitfinex-positions-history>
                </vk-tabs-item>
                <vk-tabs-item title="Crypto Deposits">
                    <bitfinex-deposit-history></bitfinex-deposit-history>
                </vk-tabs-item>
                <vk-tabs-item title="Crypto Withdrawal">
                    <div>
                        <bitfinex-pending-withdrawal-history></bitfinex-pending-withdrawal-history>
                    </div>
                </vk-tabs-item>
                <vk-tabs-item title="Balance History">
                    <balance-history></balance-history>
                </vk-tabs-item>
            </vk-tabs>
        </div>
        <div class="uk-hidden@m" id="mobileDropdown">
            <vk-button id="tabBarDropdown" mode='click'>{{ bitfinexActiveTab }}</vk-button>
            <vk-dropdown :delayHide=1>
                <vk-nav-dropdown>
                    <vk-nav-item v-for="tab of bitfinexTabs" :key="tab" :title="tab" @click="onDropDownBitfinexTabChange(tab)"></vk-nav-item>
                </vk-nav-dropdown>
            </vk-dropdown>

            <bitfinex-orders-history v-if="bitfinexActiveTab === 'Orders'"></bitfinex-orders-history>
            <bitfinex-trading-history v-if="bitfinexActiveTab === 'Trading'"></bitfinex-trading-history>
            <bitfinex-positions-history v-if="bitfinexActiveTab === 'Positions'"></bitfinex-positions-history>
            <bitfinex-deposit-history v-if="bitfinexActiveTab === 'Crypto Deposits'"></bitfinex-deposit-history>
            <bitfinex-pending-withdrawal-history v-if="bitfinexActiveTab === 'Crypto Withdrawal'"></bitfinex-pending-withdrawal-history>
            <balance-history v-if="bitfinexActiveTab === 'Balance History'"></balance-history>
        </div>
    </div>
</div>
